<h1>Products</h1>

<%= link_to "Add product", new_product_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Reviews Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.reviews.size %></td>
        <td>
          <%= link_to "Details", product_path(product) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
