<h1>Add new product</h1>
<% if flash.alert.present? %>
  <h3 style="color: red"><%= flash.alert %></h3>
<% end %>

<%= form_tag products_path, method: :post do %>
  <%= label_tag "Product url" %>
  <%= text_field_tag :product_url %>
  <%= submit_tag "Add" %>
<% end %>
