<h1><%= @product.name %></h1>

<p><%= number_to_currency(@product.price) %></p>
<p>Reviews</p>
<ul>
  <% @product.reviews.each do |review| %>
    <li>
      <dl>
        <dt>Title</dt>
        <dd><%= review.title %></dd>
        <dt>Reviewer</dt>
        <dd><%= review.reviewer %></dd>
        <dt>Content</dt>
        <dd><%= review.content %></dd>
      </dl>
    </li>
  <% end %>
</ul>
